###############################################################################
#
# This definition is for all our IDM servers.  Enjoy.
#
###############################################################################




###############################################################################
###############################################################################
#
# HOST DEFINITION
#
###############################################################################
###############################################################################

# Define a host for the local machine

define host{
        use                     idm-server            ; Name of host template to use
        host_name               idmrbstest.emich.edu
        alias                   idmrbstest
        address                 164.76.7.22
        hostgroups              idm-servers
        }

define host{
        use                     idm-server            ; Name of host template to use
        host_name               idmrbs.emich.edu
        alias                   idmrbs
        address                 164.76.7.215
        hostgroups              idm-servers
        }

define host{
        use                     idm-server            ; Name of host template to use
        host_name               idm1.emich.edu
        alias                   idm1
        address                 164.76.7.217
        hostgroups              idm-servers
        }

define host{
        use                     idm-server            ; Name of host template to use
        host_name               idm2.emich.edu
        alias                   idm2
        address                 164.76.7.218
        hostgroups              idm-servers
        }

define host{
        use                     idm-server            ; Name of host template to use
        host_name               idm3.emich.edu
        alias                   idm3
        address                 164.76.7.219
        hostgroups              idm-servers
        }

###############################################################################
###############################################################################
#
# HOST GROUP DEFINITION
#
###############################################################################
###############################################################################

# Define an optional hostgroup for Linux machines

define hostgroup{
        hostgroup_name  idm-servers ; The name of the hostgroup
        alias           IDM Servers ; Long name of the group
        }



###############################################################################
###############################################################################
#
# SERVICE DEFINITIONS
#
###############################################################################
###############################################################################


# Define a service to "ping" the local machine

define service{
        use                             generic-service
        hostgroup_name                  idm-servers
        service_description             PING
	    check_command			        check_ping!100.0,20%!500.0,60%
}

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       idmrbstest.emich.edu, idmrbs.emich.edu, idm1.emich.edu, idm2.emich.edu, idm3.emich.edu
        service_description             eDirectory Service
	    check_command			        check_edir
}

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       idmrbstest.emich.edu, idmrbs.emich.edu, idm1.emich.edu, idm2.emich.edu, idm3.emich.edu
        service_description             LDAP Stats
	    check_command			        check_ldap
}

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       idmrbstest.emich.edu, idmrbs.emich.edu, idm1.emich.edu, idm2.emich.edu, idm3.emich.edu
        service_description             NSDS Errors
	    check_command			        check_nsds_errors
}

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       idmrbstest.emich.edu, idmrbs.emich.edu
        service_description             Banner Driver
	    check_command			        check_banner_driver
}


